body{
  background: #00d1fc;
  font-family: cambria;
  font-size: 1rem;
  line-height: 1.5;
}

input.submit {
  font-size: 100%;
  line-height: 16px;
  display: block;
  width: 100%;
  height: 42px;
  cursor: pointer;
  vertical-align: middle;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  border: 0 solid rgba(0, 0, 0, 0.8);
  background: #888;
  margin-top: 0px;
  box-shadow: 0 2px 0 #F5F5F5, 0 6px 0 #17BEBB;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

input.submit:hover {
  background: #26547C;
  box-shadow: 0 2px 0 #F5F5F5, 0 6px 0 #26547C, 0 8px 0 #F5F5F5, 0 11px 0 #26547C;
  margin-top: -2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input.submit:active {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  margin-top: 15px;
  box-shadow: 0 0px 0 #F5F5F5, 0 3px 0 #26547C, 0 0px 0 #F5F5F5, 0 6px 0 #26547C;
}

input:focus {
  outline: none;
}

.submit-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
/* here is custom styling */
.web_disigner {
  background: #00d1fc;
  min-height: 400px; }
  .web_disigner .web_disigner_contain {
    padding: 80px 0px; }
  .web_disigner .parent_circle {
    background: #63cdf4 none repeat scroll 0 0;
    border: 15px solid #30a9d4;
    border-radius: 50%;
    height: 170px;
    width: 170px;
    display: table;
    position: relative; }
    .web_disigner .parent_circle .parent_circle_contain {
      display: table-cell;
      vertical-align: middle;
      font-size: 13px;
      text-align: center;
      font-weight: 600; }
    .web_disigner .parent_circle .child_round_circle {
      border: 15px solid #63cdf4;
      border-radius: 50%;
      height: 120px;
      left: 125px;
      position: absolute;
      top: -25px;
      width: 120px; }
    .web_disigner .parent_circle .child_round_circle_img1 {
      background: url("http://imensosoftware.com/wp-content/uploads/2016/01/1.jpg");
      background-size: 100%; }
    .web_disigner .parent_circle .child_round_circle_img2 {
      background: transparent url("http://imensosoftware.com/wp-content/uploads/2016/01/2.jpg") repeat scroll 0 -11px/100% auto; 
      
      background-position:top;
      
      }
    .web_disigner .parent_circle .child_round_circle_img3 {
      background: url("http://imensosoftware.com/wp-content/uploads/2016/01/8.jpg");
      background-size: 100%; }
    .web_disigner .parent_circle .child_round_circle_img4 {
      background: url("http://imensosoftware.com/wp-content/uploads/2016/01/9.jpg");
      background-size: 100%; }
    .web_disigner .parent_circle .child_round_circle_img5 {
      background: url("http://imensosoftware.com/wp-content/uploads/2016/01/6.jpg");
      background-size: 100%; }
    .web_disigner .parent_circle .child_round_circle_img6 {
      background: url("http://imensosoftware.com/wp-content/uploads/2016/01/5.jpg");
      background-size: 100%; }

.padtop30 {
  padding-top: 30px; }
  
  /* here is our responsive css */
  
  @media only screen and (max-width: 360px) 
  {
      .web_disigner .parent_circle .child_round_circle 
    {
    border: 15px solid #63cdf4;
    border-radius: 50%;
    height: 100px;
    left: 100px;
    position: absolute;
    top: -38px;
    width: 100px;
    }
    .media-carousel .carousel-control.left{
    
    margin-top: 290px;
   
}
.media-carousel .carousel-control.right{
    
    margin-top: 290px;
   
}
  }
  
  

/* End carousel */