*, *:before, *:after {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

*:focus {
  outline: none !important;
}
:root {
  --primary-col: #1d252d;
  --secondary-col: #26547C;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #e8d057;
  background: -webkit-linear-gradient(var(--primary-col) 50%, var(--secondary-col) 50%);
  background: linear-gradient(var(--primary-col) 50%, var(--secondary-col) 50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Open Sans', sans-serif;
  color: rgba(240, 240, 240, 0.7);
  font-size: 1.2rem;
  text-align: center;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 15rem;
  padding: 1rem;
  max-width: 40rem;
}

.header-p {
  padding: 0 2rem;
  font-style: italic;
  font-size: 0.8rem;
}


.picker-p {
  margin: 2rem 0 1rem;
}

.input-row {
  min-width: 16rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.input-box {
  overflow: hidden;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(250, 250, 250, 1);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  cursor: pointer;
}

input[type="color"] {
  outline: none;
  background: transparent;
  padding: 0;
  width: 3.75rem;
  height: 3.75rem;
  -webkit-transform: translate(-10%, -10%);
          transform: translate(-10%, -10%);
  cursor: pointer;
}

.input-box:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}
body, html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  background: #00d1fc;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$mauve', endColorstr='$blush',GradientType=1 );
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

input, textarea, button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  font-family: "brandon-grotesque", "Brandon Grotesque", "Source Sans Pro", "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  resize: none;
}

a, button, input[type="submit"] {
  cursor: pointer;
}

::-moz-selection {
  background: rgba(205, 144, 139, 0.2);
}

::selection {
  background: rgba(205, 144, 139, 0.2);
}

#settings {
  opacity: 0;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  will-change: opacity, transform;
  -webkit-animation: rotateIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
          animation: rotateIn 1000ms cubic-bezier(0.215, 0.61, 0.355, 1) 500ms forwards;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  background: white;
  box-shadow: 0 0 20px rgba(21, 21, 29, 0.2);
  overflow: hidden;
  color: #3f4159;
  border-radius: 2px;
  width: 100%;
  max-width: 600px;
  height: 100%;
}
@media only screen and (min-width: 500px) {
  #settings {
    max-height: 420px;
  }
}

span.nav {
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: block;
  position: relative;
  width: 100%;
  padding: 18px 0;
  text-align: center;
}
span.nav:nth-of-type(1) {
  z-index: 5;
}
span.nav:nth-of-type(2) {
  z-index: 4;
}
span.nav:nth-of-type(3) {
  z-index: 3;
}
span.nav:nth-of-type(4) {
  z-index: 2;
}
span.nav:nth-of-type(5) {
  z-index: 1;
}
span.nav:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -1px;
  width: 2px;
  height: 100%;
  background: #f3e3e2;
}
span.nav:last-of-type:after {
  display: none;
}

input.nav {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  opacity: 0;
  position: absolute;
  z-index: 6;
  top: 0;
  width: 25%;
  height: 53px;
}
input.nav:hover + span, input.nav:focus + span {
  background: #f3e3e2;
}
input.nav:active + span, input.nav:checked + span {
  background: #26547C;
  color: white;
}
input.nav:active + span {
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}
input.nav ~ main section {
  -webkit-transition: all 450ms ease-out;
  transition: all 450ms ease-out;
  -webkit-transform: translateY(50%) translateZ(0);
          transform: translateY(50%) translateZ(0);
  opacity: 0;
  z-index: -1;
}
input.nav:nth-of-type(1) {
  left: 0%;
}
input.nav:nth-of-type(1):checked ~ main section:nth-of-type(1) {
  -webkit-transform: translateY(0) translateZ(0);
          transform: translateY(0) translateZ(0);
  opacity: 1;
  z-index: 10;
}
input.nav:nth-of-type(2) {
  left: 25%;
}
input.nav:nth-of-type(2):checked ~ main section:nth-of-type(2) {
  -webkit-transform: translateY(0) translateZ(0);
          transform: translateY(0) translateZ(0);
  opacity: 1;
  z-index: 10;
}
input.nav:nth-of-type(3) {
  left: 50%;
}
input.nav:nth-of-type(3):checked ~ main section:nth-of-type(3) {
  -webkit-transform: translateY(0) translateZ(0);
          transform: translateY(0) translateZ(0);
  opacity: 1;
  z-index: 10;
}
input.nav:nth-of-type(4) {
  left: 75%;
}
input.nav:nth-of-type(4):checked ~ main section:nth-of-type(4) {
  -webkit-transform: translateY(0) translateZ(0);
          transform: translateY(0) translateZ(0);
  opacity: 1;
  z-index: 10;
}
input.nav:nth-of-type(5) {
  left: 100%;
}
input.nav:nth-of-type(5):checked ~ main section:nth-of-type(5) {
  -webkit-transform: translateY(0) translateZ(0);
          transform: translateY(0) translateZ(0);
  opacity: 1;
  z-index: 10;
}

main {
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  border-top: 2px solid #f3e3e2;
  width: 100%;
  height: calc(100% - 52px);
}

section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  will-change: transform, opacity;
}
section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  padding: 12px;
}
section ul li {
  opacity: 0;
  -webkit-transform: translateY(100%) translateZ(0);
          transform: translateY(100%) translateZ(0);
  will-change: transform, opacity;
  -webkit-animation: slideInUp 600ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
          animation: slideInUp 600ms cubic-bezier(0.215, 0.61, 0.355, 1) forwards;
  padding: 6px 12px;
  width: 50%;
}
section ul li:nth-child(1) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
section ul li:nth-child(2) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
section ul li:nth-child(3) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
section ul li:nth-child(4) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
section ul li:nth-child(5) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
}
section ul li:nth-child(6) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}
section ul li:nth-child(7) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}
section ul li.large {
  width: 100%;
}
section ul li.padding {
  padding: 12px;
}
section.upcoming {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
section.upcoming h1 {
  font-size: 32px;
  color: #cccccc;
}

.avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.avatar > span {
  display: block;
  width: 72px;
  height: 72px;
  background-position: center center;
  background-size: cover;
  border-radius: 2px;
}
.avatar > div {
  padding-left: 24px;
}
.avatar > div .material-button {
  margin-top: 13px;
}

.material {
  width: 100%;
}
.material div {
  position: relative;
  width: 100%;
  padding-top: 18px;
}
.material label {
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  will-change: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: block;
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 4px;
  font-weight: 500;
  color: #26547C;
  line-height: 1.5;
}
.material hr {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  border: 0;
  border-radius: 4px;
  margin: 0;
  background: #26547C;
}
.material hr:after {
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
  -webkit-transform: scaleX(0) translateZ(0);
          transform: scaleX(0) translateZ(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  will-change: transform;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #00d1fc;
}
.material input {
  display: block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  z-index: 1;
  padding: 0 0 4px;
  margin: 0;
  width: 100%;
  background: none;
  color: #26547C;
  font-size: 16px;
  line-height: 1.5;
}
.material input:focus + label, .material input:valid + label {
  -webkit-transform: translateY(-24px) translateZ(0);
          transform: translateY(-24px) translateZ(0);
  font-size: 12px;
}
.material input:focus ~ hr:after {
  -webkit-transform: scaleX(1) translateZ(0);
          transform: scaleX(1) translateZ(0);
}

.material-checkbox div {
  position: relative;
}
.material-checkbox .check {
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
.material-checkbox span {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background: #ebebeb;
}
.material-checkbox svg {
  display: block;
  width: 100%;
  height: 100%;
}
.material-checkbox line {
  fill: none;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 2px;
  stroke-linecap: round;
}
.material-checkbox g:last-child line {
  stroke: white;
  opacity: 0;
}
.material-checkbox g:last-child line:first-child {
  -webkit-transition: stroke-dashoffset 100ms ease-out;
  transition: stroke-dashoffset 100ms ease-out;
  stroke-dasharray: 6.708;
  stroke-dashoffset: 6.708;
}
.material-checkbox g:last-child line:last-child {
  -webkit-transition: stroke-dashoffset 200ms ease-out 100ms;
  transition: stroke-dashoffset 200ms ease-out 100ms;
  stroke-dasharray: 14.873;
  stroke-dashoffset: 14.873;
}
.material-checkbox label {
  margin-left: 6px;
}
.material-checkbox input {
  cursor: pointer;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.material-checkbox input:checked + div span {
  background: #cd908b;
}
.material-checkbox input:checked + div g:last-child line {
  opacity: 1;
}
.material-checkbox input:checked + div g:last-child line:first-child {
  stroke-dashoffset: 0;
}
.material-checkbox input:checked + div g:last-child line:last-child {
  stroke-dashoffset: 0;
}

.material-button {
  width: 100%;
}
.material-button div {
  width: 100%;
}
.material-button button, .material-button input[type="submit"] {
  margin: 0;
  border: 0;
  border-radius: 2px;
  padding: 6px 12px;
  background: #ebebeb;
  color: #26547C;
  font-size: 16px;
  -webkit-transition: all 150ms ease-out;
  transition: all 150ms ease-out;
}
.material-button button:hover, .material-button button:focus, .material-button input[type="submit"]:hover, .material-button input[type="submit"]:focus {
  background: #26547C;
  color: white;
}
.material-button button:active, .material-button input[type="submit"]:active {
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  background: #26547C;
}
.material-button button.save, .material-button input[type="submit"].save {
  width: 100%;
  max-width: 256px;
  padding: 12px 24px;
  background: #26547C;
  color: white;
  font-size: 18px;
}
.material-button button.save:hover, .material-button button.save:focus, .material-button input[type="submit"].save:hover, .material-button input[type="submit"].save:focus {
  background: #26547C;
}
.material-button button.save:active, .material-button input[type="submit"].save:active {
  background: #26547C;
}
@media only screen and (max-height: 444px) {
  .material-button button.save, .material-button input[type="submit"].save {
    display: none;
  }
}
.material-button button.connect, .material-button input[type="submit"].connect {
  display: block;
  width: 100%;
  border-radius: 1000px;
  color: white;
}
.material-button button.gh, .material-button input[type="submit"].gh {
  background: #26547C;
}
.material-button button.gh:hover, .material-button button.gh:focus, .material-button input[type="submit"].gh:hover, .material-button input[type="submit"].gh:focus {
  background: #26547C;
}
.material-button button.gh.connected, .material-button input[type="submit"].gh.connected {
  background: #26547C;
  color: #343434;
}
.material-button button.gh.connected:hover, .material-button button.gh.connected:focus, .material-button input[type="submit"].gh.connected:hover, .material-button input[type="submit"].gh.connected:focus {
  background: #26547C;
  color: white;
}
.material-button button.gh:active, .material-button input[type="submit"].gh:active {
  background: #26547C !important;
}
.material-button button.tw, .material-button input[type="submit"].tw {
  background: #26547C;
}
.material-button button.tw:hover, .material-button button.tw:focus, .material-button input[type="submit"].tw:hover, .material-button input[type="submit"].tw:focus {
  background: #26547C;
}
.material-button button.tw.connected, .material-button input[type="submit"].tw.connected {
  background: #ebebeb;
  color: #343434;
}
.material-button button.tw.connected:hover, .material-button button.tw.connected:focus, .material-button input[type="submit"].tw.connected:hover, .material-button input[type="submit"].tw.connected:focus {
  background: #2daae1;
  color: white;
}
.material-button button.tw:active, .material-button input[type="submit"].tw:active {
  background: #187da9 !important;
}
.material-button button.fb, .material-button input[type="submit"].fb {
  background: #3b5997;
}
.material-button button.fb:hover, .material-button button.fb:focus, .material-button input[type="submit"].fb:hover, .material-button input[type="submit"].fb:focus {
  background: #5e7ec0;
}
.material-button button.fb.connected, .material-button input[type="submit"].fb.connected {
  background: #ebebeb;
  color: #343434;
}
.material-button button.fb.connected:hover, .material-button button.fb.connected:focus, .material-button input[type="submit"].fb.connected:hover, .material-button input[type="submit"].fb.connected:focus {
  background: #3b5997;
  color: white;
}
.material-button button.fb:active, .material-button input[type="submit"].fb:active {
  background: #263960 !important;
}
.material-button button.li, .material-button input[type="submit"].li {
  background: #069;
}
.material-button button.li:hover, .material-button button.li:focus, .material-button input[type="submit"].li:hover, .material-button input[type="submit"].li:focus {
  background: #0099e6;
}
.material-button button.li.connected, .material-button input[type="submit"].li.connected {
  background: #ebebeb;
  color: #343434;
}
.material-button button.li.connected:hover, .material-button button.li.connected:focus, .material-button input[type="submit"].li.connected:hover, .material-button input[type="submit"].li.connected:focus {
  background: #069;
  color: white;
}
.material-button button.li:active, .material-button input[type="submit"].li:active {
  background: #00334d !important;
}
.material-button.center div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@-webkit-keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(30deg) rotateY(30deg) translateY(300px) translateZ(200px);
            transform: rotateX(30deg) rotateY(30deg) translateY(300px) translateZ(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes rotateIn {
  0% {
    opacity: 0;
    -webkit-transform: rotateX(30deg) rotateY(30deg) translateY(300px) translateZ(200px);
            transform: rotateX(30deg) rotateY(30deg) translateY(300px) translateZ(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%) translateZ(0);
            transform: translateY(100%) translateZ(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100%) translateZ(0);
            transform: translateY(100%) translateZ(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
